<!--Jeremy Coorevits r0843822-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration Visitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <link rel="shortcut icon" href="../static/img/Untitled-1.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
          crossorigin="anonymous"/>

</head>
<body class="bgimage vh-100">
<header class="row justify-content-center">
    <div><h1><span class="titel">Coast It</span> by Jeremy Coorevits</h1>
    </div>
</header>
<div class="fill"></div>
<div class="container">
    <form action="/10_allAttractions" class="">
        <div class="row flex-column">
            <div class="form-group col-5"><label for="aname">Name attraction:</label>
                <input class="form-control" type="text" id="aname" name="aname"></div>
            <div class="form-group col-5"><label for="duration">Duration (in sec):</label>
                <input class="form-control" type="text" id="duration" name="duration"></div>
            <div class="form-group col-5"><label for="photo">Photo:</label>
                <input class="form-control" type="text" id="photo" name="photo"></div>
            <div class="form-group col-5">
                <select name="themepark" id="themepark">
                    <option value="-1">In which theme park?</option>
                    <option th:each=" themepark : ${themeparks}" th:value="${themeparkStat.index}" th:text="${themepark.getName()}">
                    </option>
                </select></div>
            <div class="form-group col-5">
                <select name="staffmember" id="staffmember">
                    <option value="-1">Who is responsible for this attraction?</option>
                    <option th:each=" staffmember : ${staffmembers}" th:value="${staffmemberStat.index}" th:text="${staffmember.getFirstName() +'  '+staffmember.getSurName()}">
                    </option>
                </select></div>


        </div>
        <input class="btn btn-primary  px-5" type="submit" value="Confirm attraction">
    </form>


    <footer><p><a href="/">Home</a></p></footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>